.storeContainer {
  width: 12.5%;
  height: 100%;
  display: inline-block;
}

.innerStore {
  background-color: blue;
  height: 80%;
  width: 80%;
  position: relative;
  left: 10%;
  top: 10%;
  border-radius: 50%;
  text-align: center;
}
