.pit {
  width: 16.7%;
  height: 100%;
  display: inline-block;
}

.innerPit {
  background-color: purple;
  height: 80%;
  width: 80%;
  position: relative;
  left: 10%;
  top: 10%;
  border-radius: 50%;
}
